<!DOCTYPE HTML>
<html>

<head>
    <style>
        form {
            border: 1px solid black;
            padding: 15px;
            margin-top: 20px;
        }

        #output {
            margin: 20px;
            border: 1px solid black;
            height: 40px;
            width: 200px;    
        }

        #progressBar {
            width: 0%;
            background-color: blue;
            margin-top: 5%;
            height:50%;
            max-width: 200px;
        }
    </style>
    <script src="index.js" type="text/javascript"></script>
</head>

<body>
    <h1> Welcome to my wonderfully made website </h1>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input name='imageUpload' type="file" multiple>
        <input type="submit" value="Upload file">
        <!-- <button id="uploadImg" type="button" >Upload</button> -->
    </form>

    <form method="POST" action="/upload2" name="anotherForm" , enctype="multipart/form-data">
        <input name='imageUpload' type="file" multiple>
        <input type="text" name="fileName">
        <input type="submit" value="Submit">
    </form>

    <div id="output">
        <div id='progressBar'></div>
    </div>
</body>

</html>